* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(rgb(175, 175, 241), pink);
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(rgb(175, 175, 241), pink);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.contenedorPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    height: 100vh;
    width: 100vh;
    margin: auto;
}

.cuadro{
    height: 500px;
    width: 350px;
    padding: 3%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    border-radius: 5px;
}

.cuadro2{
    height: auto;
    width: 1000px;
}

.titulo1{
    padding: 4%;
    font-size: large;
    text-align: center;
}

.visible{
    display:block;
}

.oculto{
    display:none;
}

.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'INGRESAR';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}

.fila_botones{
    display: flex;
}

.usuario{
    color: white;
    text-decoration: none;
}

.borde{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(219, 215, 215);
    margin: 10px;
}

.total_compra{
    display: flex;
    justify-content: right;
    align-items: center;
}

.total_label{
    font-size: 25px;
}

.total_input{
    width: 250px;
    height: 50px;
    background-color: rgba(218, 211, 211, 0);
    border-radius: 5px;
    border: transparent;
}

.alerta{
    color: red;
}

.agregar{
    position: absolute;
}

.atras{
    display: flex;
    justify-content: flex-end;
}

#guardar_editado{
    display: none;
}